.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    padding: 10px;
    background-color: white;
     border-bottom-left-radius: 15px; /* Sesuaikan dengan radius yang Anda inginkan */
     border-bottom-right-radius: 15px;   
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
}

.container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    margin-left: 30px;
    display: flex;
    flex: 1;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    flex: 2;
}

.nav-link {
    margin-right: 30px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
